* {
    text-align: center;
    font-family: calibri;
}

.flex {
    margin: auto;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
width: 300px;
height: 100px;
background-Color: #585c59;
color: white;
font-Size: 120%;
border: none;

}